@page "{id:int}"
@model Projekt_zaliczeniowy.Pages.Admin.ZooUsers.DetailsModel

<h2>User Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ZooUser.ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ZooUser.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ZooUser.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ZooUser.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ZooUser.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ZooUser.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ZooUser.Login)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ZooUser.Login)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ZooUser.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ZooUser.Role)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ZooUser.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ZooUser.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ZooUser.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ZooUser.PhoneNumber)
        </dd>
    </dl>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.ZooUser.ID" class="btn btn-primary">Edit</a>
        <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
